* {
    border: none;
    font-family: JetBrainsMono NF;
    font-size: 15px;
    background-color: transparent;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    border-radius: 0px;
}

#workspaces button {
    padding: 0 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #8a8a8a;
    border-radius: 0px;
}

#workspaces button:hover {
    box-shadow: inherit;
    border-radius: 0px;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.active {
    background-color: #aaaaaa;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #0D181E;
    color: #000000;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#mpd {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#tray {
    background-color: rgba(0, 0, 0, 0.8);
}
