* {
    border: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: #0D181E;
    border-radius: 10px;
    margin-left: 5px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #8a8a8a;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.active {
    background-color: #aaaaaa;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #0D181E;
    color: #000000;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#mpd {
    padding: 0 10px;
    border-radius: 10px;
    background-color: #0D181E;
    color: #aaaaaa;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: transparent;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
